<!--
For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433 
-->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <customErrors mode="On" defaultRedirect="~/PageNotFound.aspx">
      <error statusCode="404" redirect="~/PageNotFound.aspx"/>
      <error statusCode="403" redirect="~/PageNotFound.aspx"/>
    </customErrors>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <!--

<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\"Web\" /optionInfer+"/>
-->
    </compilers>
  </system.codedom>
  <connectionStrings>
       <add name="db_job_portalConnectionString" coonnectionString=""/>
  </connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="Host" value="mail.jobs-ace.com"/>
    <add key="EnableSsl" value="false"/>
    <add key="UserName" value="support@jobs-ace.com"/>
    <add key="Password" value="A8413latemr%"/>
    <add key="Port" value="26"/>
    <add key="DefaultCredentials" value="true"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="AptechNewJobPortal.Model.AjaxEnabledServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="AptechNewJobPortal.Model.AjaxEnabledService" behaviorConfiguration="debug">
        <endpoint address="" behaviorConfiguration="AptechNewJobPortal.Model.AjaxEnabledServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="AptechNewJobPortal.Model.AjaxEnabledService"/>
      </service>
    </services>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
<!--    ProjectGuid: BB6D54CE-9DF2-41B7-B3C5-6AF3D16D7AA7    -->