.container{ width:100%; visibility:hidden; height:0px;  } 
h1{ position:absolute; font-size:48px; float:left; text-align:left; color:#fff;  font-family:Bell MT; }


canvas{ width:850px; height:315px; }

#download{ width:850px; font-weight:600; color:#fff; cursor:pointer;}

.container-fluid{ padding:0px;}

body{ width:100%; overflow-x:hidden; }
.swal-button {
    background-color: #1a680b !important;
    
}

.swal-content__input, .swal-content__textarea:focus {
    
    border: 1px solid #1a680b !important;    }
